# Python
.DS_Store
.ruff_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python

# Testing
.pytest_cache
.coverage
htmlcov/
coverage.xml
*.cover

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Streamlit
.streamlit/secrets.toml

# Personal Tracks
app/tracks_gpx/other_trails/
app/tracks_gpx/world_wide_hikes/

# Debugging logs
app_debug.log
